@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* SOLUTION */

body {
  display: flex;
  flex-direction: column;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  
}

.content{ 
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.left-links, .right-links{
  display: flex;
  list-style: none;
  gap: 1em;
  margin: 0;
  padding: 0;
  
}

a {
  text-decoration: none;
  color: rgb(49, 48, 48);
}

a:hover {
  color: rgb(55, 123, 248);
  border: 1px solid rgb(55, 123, 248);
  padding: 2.5px;
  border-radius: 7px;
}

button {
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}



.footer {
  background-color: #eeeeee;
}



/* SOLUTION from masters*/
/* with this you don't need to make yet another container and just use the
already existing body as shown */

/* body {
  display: flex;
  flex-direction: column;
} */

/* button {
  padding: 8px 16px;
} */

/* .content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

/* a {
  color: #666;
  text-decoration: none;
} */

/* .header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
} */

/* .footer {
  background: #eee;
} */

/* ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
} */